---
import { z } from "astro:content";

const Schema = z.object({
	number: z.string(),
	title: z.string(),
	description: z.string(),
	items: z.array(z.string()),
});

type Props = z.infer<typeof Schema>;

const Props = Schema.parse(Astro.props as Props);

const { number, title, description, items } = Props;
---

<article class="list-content sticky top-20 mb-150 border-t bg-black">
	<header
		class="list-title grid grid-cols-12 gap-4 py-8 text-2xl font-extrabold text-gray-300 md:text-4xl lg:text-6xl"
	>
		<span class="hidden md:block">({number})</span>
		<h3 class="mg:col-span-7 col-span-12 md:col-start-6">
			<span class="md:hidden">({number})</span>
			{title}
		</h3>
	</header>

	<div class="grid grid-cols-12 gap-4">
		<div class="mg:col-span-7 col-span-12 flex flex-col gap-4 md:col-start-6">
			<p class="text-lg">{description}</p>
			<ol class="list-inside list-decimal divide-y text-lg font-bold md:text-xl">
				{items.map((item) => <li class="py-2 md:py-4">{item}</li>)}
			</ol>
		</div>
	</div>
</article>

<script>
	const camelToKebab = (s: string) => s.replace(/[A-Z]/g, (m) => `-${m.toLowerCase()}`);

	function getCssPropValue(el: HTMLElement, property: keyof CSSStyleDeclaration): number {
		const cssProp = camelToKebab(String(property));
		const raw = getComputedStyle(el).getPropertyValue(cssProp);
		const val = parseFloat(raw);
		return Number.isFinite(val) ? val : 0;
	}

	const LIST_CONTENT = ".list-content";
	const LIST_TITLE = ".list-title";

	const containers = Array.from(document.querySelectorAll<HTMLElement>(LIST_CONTENT));

	let prevTitleHeight = containers[0]?.querySelector<HTMLElement>(LIST_TITLE)?.offsetHeight || 0;
	let prevTopHeight = getCssPropValue(containers[0], "top");

	const firstContainerMarginBottom = getCssPropValue(containers[0], "marginBottom");

	containers[0].style.marginBottom = `${firstContainerMarginBottom - prevTopHeight}px`;

	const maxContainerHeight = containers.reduce((max, container) => {
		const containerHeight = container.offsetHeight;
		return containerHeight > max ? containerHeight : max;
	}, 0);

	containers.forEach((container) => {
		container.style.minHeight = `${maxContainerHeight}px`;
	});

	for (let i = 1; i < containers.length; i++) {
		const container = containers[i];
		const containerMarginBottom = getCssPropValue(container, "marginBottom");
		const title = container.querySelector<HTMLElement>(LIST_TITLE);
		const titleHeight = title ? getCssPropValue(title, "height") : 0;

		const nextTopHeight = prevTopHeight + prevTitleHeight;

		container.style.top = `${nextTopHeight}px`;
		container.style.marginBottom = `${containerMarginBottom - nextTopHeight}px`;

		prevTopHeight = nextTopHeight;
		prevTitleHeight = titleHeight;
	}
</script>
