---
import Heading from '@components/Heading.astro'
import { MuxPlayer } from '@mux/mux-player-astro'
import { Picture } from 'astro:assets'
import { z } from 'astro:content'
import type { SvgComponent } from 'astro/types'
import { StringNoNSchema } from '@schemas/string.ts'

const Schema = z.object({
	name: StringNoNSchema.describe('Name of the project'),
	description: StringNoNSchema.describe('Description of the project'),
	videoId: StringNoNSchema.describe('Video ID of the project'),
	backgroundImage: z.custom<ImageMetadata>().describe('Background image for the project'),
	icons: z.array(z.custom<SvgComponent>()).min(1).max(6).describe('Technologies used in the project')
})

type Props = z.infer<typeof Schema>

const Props = Schema.parse(Astro.props as Props)

const { name, description, videoId, icons, backgroundImage } = Props
---

<article class="group flex flex-col">
	<div
		class="relative flex aspect-square flex-col items-center justify-center rounded-2xl p-10"
		title={name}
	>
		<Picture
			src={backgroundImage}
			alt={description}
			class="absolute top-0 left-0 h-full w-full object-cover object-center opacity-50 grayscale transition-all transition-discrete group-hover:opacity-100 group-hover:filter-none"
		/>
		<MuxPlayer
			class="aspect-4/3 w-full overflow-clip rounded-2xl transition [--controls:none] [--play-button:none] [--volume-range:none]"
			playbackId={videoId}
			metadata={{
				video_title: name + ' - ' + description
			}}
			poster=`https://image.mux.com/${videoId}/thumbnail.png?time=0`
			storyboardSrc=`https://image.mux.com/${videoId}/storyboard.vtt?format=webp&asset_start_time=0&asset_end_time=20`
			thumbnailTime={1}
			theme="microvideo"
			muted={true}
			nohotkeys={true}
			autoplay={true}
			loop={true}
		/>
		<div class="z-1 flex flex-wrap items-center justify-center">
			{
				icons.map(Icon => (
					<Icon
						class="h-4 w-fit lg:h-8"
						height="auto"
						width="auto"
					/>
				))
			}
		</div>
	</div>

	<div>
		<p>{description}</p>

		<Heading
			level={4}
			useLink={false}
			class="text-light-3"
		>
			{name}
		</Heading>
	</div>
</article>
