---
import { getCollection, z } from 'astro:content'
import { type CollectionEntry } from 'astro:content'
import { Picture } from 'astro:assets'
import type { SvgComponent } from 'astro/types'

import { getValuesBy } from '@utils/getValuesBy.ts'

import Heading from '@components/UI/Heading.astro'
import Video from '@components/UI/Video.astro'

const Schema = z.object({
	collections: z.custom<CollectionEntry<'websites'>>().array()
})

type Props = z.infer<typeof Schema>

const Props = Schema.parse(Astro.props as Props)

const { collections: allWebsitesEntries } = Props

const logoModules = import.meta.glob(`/src/assets/logos/**/*.{svg,png}`, { eager: true })
---

{
	allWebsitesEntries.map(async ({ data }) => {
		const { title, shortDescription, description, videoId, videoThumbnail, backgroundImage, url, technologies } =
			data
		const getLogos = await getCollection(technologies[0].collection, ({ id: logoId }) =>
			getValuesBy(technologies, 'id').includes(logoId)
		)

		return (
			<article class="group flex flex-col">
				<div
					class="relative flex aspect-square flex-col items-center justify-center rounded-2xl p-10"
					title={title}
				>
					<Picture
						src={new URL(backgroundImage, Astro.site?.href).href}
						alt={description}
						inferSize={true}
						class="absolute top-0 left-0 h-full w-full object-cover object-center opacity-50 grayscale transition-all transition-discrete group-hover:opacity-100 group-hover:filter-none"
					/>

					<Video
						videoId={videoId}
						thumbnail={new URL(videoThumbnail, Astro.site?.href).href}
					/>

					<div class="z-1 flex flex-wrap items-center justify-center">
						{getLogos.map(({ data: logoData }) => {
							const logoPath = logoData.files.dark ?? logoData.files.default
							const LogoModule = (logoModules[logoPath as string] as { default: SvgComponent }).default

							if (!LogoModule) return null

							return (
								<LogoModule
									class="h-4 w-fit lg:h-8"
									height="24"
									width="24"
								/>
							)
						})}
					</div>
				</div>

				<div>
					<p>{shortDescription}</p>
					<Heading
						level={4}
						useLink={false}
						class="text-light-3"
					>
						{url ? (
							<a
								href={url}
								target="_blank"
								rel="noopener noreferrer"
								class="no-styles group-hover:underline group-hover:underline-offset-4 focus:underline-offset-4"
								aria-label={`Visit ${title} website`}
							>
								{title}
							</a>
						) : (
							title
						)}
					</Heading>
				</div>
			</article>
		)
	})
}
