---
import { z } from 'astro:content'
import { StringNoNSchema } from '@schemas/string.ts'

const Schema = z.object({
	number: StringNoNSchema,
	title: StringNoNSchema,
	description: StringNoNSchema,
	items: z.array(StringNoNSchema).min(1).max(3)
})

type Props = z.infer<typeof Schema>

const Props = Schema.parse(Astro.props as Props)

const { number, title, description, items } = Props
---

<article class="feature-content bg-secondary sticky top-20 mb-150 border-t">
	<h3 class="feature-title text-light-3 py-8 md:grid md:grid-cols-12">
		<span>({number})</span>
		<span class="md:col-span-8 md:col-start-5">{title}</span>
	</h3>

	<div class="md:grid md:grid-cols-12">
		<div class="flex flex-col md:col-span-8 md:col-start-5">
			<p>{description}</p>

			<ol class="divide-y text-[clamp(1.15rem,5vw+1rem,1.5rem)] font-semibold">
				{items.map(item => <li class="py-2 md:py-4">{item}</li>)}
			</ol>
		</div>
	</div>
</article>

<script>
	import { getCssPropValue } from '@utils/css.ts'

	const LIST_CONTENT = '.feature-content'
	const LIST_TITLE = '.feature-title'

	const containers = Array.from(document.querySelectorAll<HTMLElement>(LIST_CONTENT))

	let prevTitleHeight = 0
	let prevTop = getCssPropValue(containers[0], 'top')

	const maxContainerHeight = containers.reduce((previousValue, currentValue) => {
		const containerHeight = currentValue.offsetHeight
		return containerHeight > previousValue ? containerHeight : previousValue
	}, 0)

	containers.forEach(container => {
		container.style.minHeight = `${maxContainerHeight}px`

		const containerMarginBottom = getCssPropValue(container, 'marginBottom')

		const title = container.querySelector<HTMLElement>(LIST_TITLE)
		const titleHeight = title ? getCssPropValue(title, 'height') : 0

		const nextTop = prevTop + prevTitleHeight

		container.style.top = `${nextTop}px`
		container.style.marginBottom = `${containerMarginBottom - nextTop}px`

		prevTop = nextTop
		prevTitleHeight = titleHeight
	})
</script>
