---
import { getCollection, z } from 'astro:content'
import { type CollectionEntry } from 'astro:content'
import { Picture } from 'astro:assets'
import type { SvgComponent } from 'astro/types'

import { getValuesBy } from '@utils/getValuesBy.ts'

import Heading from '@components/UI/Heading.astro'
import Video from '@components/UI/Video.astro'

const Schema = z.object({
	entry: z.custom<CollectionEntry<'websites'>>()
})

type Props = z.infer<typeof Schema>

const { entry } = Schema.parse(Astro.props as Props)
const { data } = entry
const { name, shortDescription, videoId, videoThumbnail, backgroundImage, url, technologies } = data

const getAllLogos = import.meta.glob(`/src/assets/logos/**/*.{svg,png}`, { eager: true })
const logoEntries = await getCollection(technologies[0].collection, ({ id: logoId }) =>
	getValuesBy(technologies, 'id').includes(logoId)
)
---

<article class="group flex flex-col nth-[n+4]:hidden md:nth-[n+4]:flex">
	<div
		class="relative flex aspect-square flex-col items-center justify-center rounded-2xl p-10"
		title={name}
	>
		<Picture
			src={backgroundImage}
			alt={name + ' - ' + shortDescription}
			width={480}
			height={270}
			class="absolute top-0 left-0 h-full w-full object-cover object-center opacity-50 grayscale transition-all transition-discrete group-hover:opacity-100 group-hover:filter-none"
		/>

		<Video
			videoId={videoId}
			thumbnail={videoThumbnail}
		/>

		<div class="z-1 flex flex-wrap items-center justify-center">
			{
				logoEntries
					.sort((a, b) => a.id.localeCompare(b.id))
					.map(({ data: logoData }) => {
						const logoPath = logoData.files.dark ?? logoData.files.default
						const Logo = (getAllLogos[logoPath as string] as { default: SvgComponent }).default

						if (!Logo) return null

						return (
							<Logo
								class="h-4 w-fit lg:h-8"
								height=""
								width=""
							/>
						)
					})
			}
		</div>
	</div>

	<div>
		<p>{shortDescription}</p>
		<Heading
			level={4}
			useLink={false}
			class="text-light-3 text-h5"
		>
			{
				url ? (
					<a
						href={url}
						target="_blank"
						rel="noopener noreferrer"
						class="no-styles group-hover:underline group-hover:underline-offset-4 focus:underline-offset-4"
						aria-label={`Visit ${name} website`}
					>
						{name}
					</a>
				) : (
					name
				)
			}
		</Heading>
	</div>
</article>
